

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#editor { 
	z-index: -1;
    margin: 0;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
#body {
	width: 100%;
	height: 100%;
}
#eduslider.nexpanded {
	position: relative;
	left: -200px;
	width: 200px;
}
#eduslide.expanded {
	position: relative;
	left: 50px !important;
	width: 200px;
}
#body.expanded {
	position: absolute;
	left: 100px;
	top: 50px;
}
#body.nexpanded { 
	top: 50px;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
}
#drawertrigger {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
pre#editor {
	position: absolute;
	top: 0px;
}