

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#editor { 
	z-index: -1;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#body {
	width: 100%;
	height: 100%;
}
#eduslider {
	background-repeat: repeat-y;
	background: #272822; /* Old browsers */
	background: -moz-linear-gradient(left, #2f3129 1%, #272822 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#2f3129), color-stop(100%,#272822)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #2f3129 1%,#272822 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #2f3129 1%,#272822 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #2f3129 1%,#272822 100%); /* IE10+ */
	background: linear-gradient(to right, #2f3129 1%,#272822 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3129', endColorstr='#272822',GradientType=1 ); /* IE6-9 */
	background-repeat: repeat-y;
	width: 100px;
	height: 100%;
	top: 0px;
}
#eduslider.nexpanded {
	position: relative;
	left: -200px;
	width: 100px;
}
#eduslide.expanded {
	position: relative;
	left: 50px !important;
	width: 100px;
}
#body.expanded {
	position: absolute;
	left: 100px;
	top: 0px;
	margin-top: 50px;
}
#body.nexpanded { 
	top: 0px;
	position: absolute;
	left: 0px;
	width: 100%;
	margin-top: 50px;
}
#drawertrigger {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	background: #272822 !important;
}
.navbar-fixed-top {
	height: auto !important;
	margin-bottom: 0px;
}